.bg-black {
  background-color: black;
  color: white;
}

.fixed-height-205 {
  height: 205px;
}

.strike {
  text-decoration: line-through;
}
.cart {
  background-color: #ffa41c;
  color: black;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.buy {
  background-color: green;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 25px;
}

